<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Education</h2>
          
    <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">PhD in Physiology </h3>
                            <div class="time">2013 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Physiology, University of Toronto, Toronto, Canada</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Supervisor: <a href="http://sites.utoronto.ca/coxlab/">Dr. Brian Cox</a></p>  
                        <p>Title: Cellular Systems Biology of Early Human Placenta Development</p>
                    </div><!--//details-->
                </div><!--//item-->
    
              <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">BSc Honors in Physiology with Honors</h3>
                            <div class="time">2009 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Physiology, University of Alberta, Edmonton, Canada</div>
                    </div><!--//meta-->
             </div><!--//item-->
    
    
</section><!--//section-->
