<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Research Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">4th year Senior Research Project</h3>
                            <div class="time">2012 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Physiology, University of Alberta, Edmonton, Canada</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Supervisor: <a href="https://www.ualberta.ca/medicine/about/people/sandra-t-davidge">Dr. Sandra Davidge</a></p>  
                        <p>Title: Lectin-like Oxidized LDL Receptor-1 and Oxidative Stress in a Postpartum Rat Model of Preeclampsia</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Summer Studentship Project</h3>
                            <div class="time">Summer 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Oncology, University of Alberta, Edmonton, Canada</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Supervisor: <a href="http://www.graduate-studies-in-cancer-research.org/chanlab/ChanLab.htm">Dr. Gordon Chan</a></p>
                        <p>Title: Altered Mitotic Checkpoint Protein Expression and Localization in melanoma Cells </p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                              
            </section><!--//section-->
