<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Honors and Awards</p>
                  
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">NSERC </a></span> - <span class="project-tagline">(Natural Sciences and Engineering Research Council), 2015-2019</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Y.W. (Charlie) Loke Award for Early Career Researchers</a></span> - 
                    <span class="project-tagline">2016 </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Margaret J. Santalo Fellowship</a></span> - <span class="project-tagline">2015</span>
                  
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Best Poster Award - First Prise </a></span> - <span class="project-tagline">Investigative Developmental Physiology, 2015 </span>
                  
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Obest Oral Presentation </a></span> - <span class="project-tagline"> First Prise, Embryonic-Extraembryonic Interfaces EMBO Workshop, 2015</span>
                </div><!--//item-->
            </section><!--//section-->
